DATABASE_URL=postgresql://pms_ingestion:change-me@postgres:5432/pms
RABBITMQ_URL=amqp://pms:change-me@rabbitmq:5672/pms
RABBITMQ_EVENTS_EXCHANGE=pms.events
CBS_SOURCE_PUBLIC_KEYS_JSON={"CBS":"-----BEGIN PUBLIC KEY-----\\nreplace-from-vault\\n-----END PUBLIC KEY-----"}
CBS_WINDOW_START_HOUR_UTC=0
CBS_WINDOW_END_HOUR_UTC=6
LANDING_URL=http://landing-storage:8080
LANDING_WORKLOAD_TOKEN=change-me
CLAMAV_HOST=clamav
CLAMAV_PORT=3310
TOKEN_VAULT_URL=https://tokenization-service:3100
TOKEN_VAULT_WORKLOAD_TOKEN=change-me
