POSTGRES_DB=pms
POSTGRES_USER=pms_app
POSTGRES_PASSWORD=pms-local-change-me
POSTGRES_PORT=5432
RABBITMQ_USER=pms
RABBITMQ_PASSWORD=pms-local-change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=pms-local-change-me
KEYCLOAK_PORT=8080
KEYCLOAK_DEV_USER=developer
KEYCLOAK_DEV_EMAIL=developer@pms.local
KEYCLOAK_DEV_PASSWORD=pms-local-change-me
OTEL_SERVICE_NAME=pms-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
